body {
  font-family: 'Roboto Mono', monospace;
}

/* Rectangle 6 */
.section {
  padding: 70px 0px;
  background: #FFFFFF;
}

.section.hero {
  background: #F4EDE4;
}

.section.hero .logo {
  height: 76px;
  width: 76px;
  /* background: url(assets/logo.svg) no-repeat top left; */
  background: url(assets/pancake-emoji.png) no-repeat top left;
  background-size: 90% 90%; /*contain;*/
  background-position: center center;
  padding: 0px 10px;
  margin-top: -20px;
}
.section.hero h1 {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.5px;
}

.section.hero h2 {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.section h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  margin: 30px 0px;
}

.url-box {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  width: 700px;
  height: 68px;
  overflow: hidden;
}

.url-box input {
  flex-grow: 1;
  border: 0;
  padding: 0 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #868686;
  transition: 2s ease-out all;
}

.url-box input.error {
  background-color: #fdc0cea8;
  transition: 0.1s ease-out all;
}

.url-box input:disabled {
  background-color: transparent;
}

.url-box .button {
  width: 152px;
  height: 68px;
  background-image: linear-gradient(180deg, rgba(74, 21, 75, 0.9) 0%, #4A154B 100%);

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 68px;
  text-align: center;
  color: #FFFFFF;

  user-select: none;
}

.url-box .button:hover {
  background-image: linear-gradient(180deg, rgba(74, 21, 75, 0.8) 0%, #601b61 100%);
  cursor: pointer;
}

.url-box .url-box-copy, .url-box .url-box-back {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 68px; /* Same as parent height to center text... hack */
  color: #1264A3;
  padding-right: 30px;
  cursor: pointer;
}

.url-box .url-box-copy:hover,
.url-box .url-box-back:hover {
  color: #0e5084;
}

.url-box-example {
  margin: 10px;
  width: 321px;
  height: 41px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 41px;
  text-align: center;
}

.arrow-box {
  padding: 10px;
  width: 24px;
  height: 41px;

  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 41px;
  text-align: center;

  background: url(assets/arrow.svg) no-repeat top left;
  background-size: 50% 50%; /*contain;*/
  background-position: center center;
}

.workflow-box .github-icon {
  height: 32px;
  width: 32px;
  background: url(assets/github.svg) no-repeat top left;
  background-size: 100% 100%; /*contain;*/
  background-position: center center;
}
.workflow-box .arrow-icon {
  height: 32px;
  width: 32px;
  background: url(assets/arrow.svg) no-repeat top left;
  background-size: 50% 50%; /*contain;*/
  background-position: center center;
}
.workflow-box .slack-icon {
  height: 32px;
  width: 32px;
  background: url(assets/slack.svg) no-repeat top left;
  background-size: 100% 100%; /*contain;*/
  background-position: center center;
}
.workflow-box .sheets-icon {
  height: 32px;
  width: 32px;
  background: url(assets/sheets.svg) no-repeat top left;
  background-size: 100% 100%; /*contain;*/
  background-position: center center;
}

.workflow-box {
  width: 220px;
  height: 140px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 0px 10px;
}

.workflow-box h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.hide {
  display: none;
}

/* Flip box */
.flip-box {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* We will flip this container */
.flip-box-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Flip on hover */
/* .flip-box:hover .flip-box-inner {
  transform: rotateX(-180deg);
} */
.flip-box .flip-box-inner.flip {
  transform: rotateX(-180deg);
}

/* Make the backside invisible for both front and back boxes*/
.flip-box-front, .flip-box-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}

/* Optional style the front side */
.flip-box-front {
}

/* Flip the back in prepation for the animation */
.flip-box-back {
  position: absolute;
  top: -30px; /* Hack to offset the 30px margin of the flex-row */
  left: 0px;
  transform: rotateX(-180deg);
}
